admin_**url_prefix**_index:
    pattern: /**url_prefix**
    defaults: { _controller: **Controller**:index, page: 1 }

admin_**url_prefix**_list:
    pattern: /**url_prefix**/{page}
    defaults: { _controller: **Controller**:index, page: 1 }
    requirements:
        page:   \d+

admin_**url_prefix**_edit:
    pattern: /**url_prefix**/{id}/edit
    defaults: { _controller: **Controller**:edit }
    requirements:
        id:   \d+

admin_**url_prefix**_delete:
    pattern: /**url_prefix**/{id}/delete
    defaults: { _controller: **Controller**:delete }
    requirements:
        id:   \d+

admin_**url_prefix**_new:
    pattern: /**url_prefix**/new
    defaults: { _controller: **Controller**:new }

admin_**url_prefix**_chain:
    pattern: /**url_prefix**/chain
    defaults: { _controller: **Controller**:chain }

admin_**url_prefix**_publish:
    pattern: /**url_prefix**/publish
    defaults: { _controller: **Controller**:publish }
