<tr>
    <td class="filter-checkbox"><input type="checkbox" id="select-all-checkbox" name="select-all-checkbox"></td>
    {% for column in columns %}
        {% if column.listable %}
            {% if column.filterable %}
                <td class="column-filter-{{ column.type }}">
                    {% include column.template('filter') with {'column': column, 'filter_raw': filter_raw} %}
                </td>
            {% else %}
                <td></td>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if not options.hide_actions is defined or (options.hide_actions is defined and not options.hide_actions) %}
        {% for action in grid.actions.getByType('object') %}
            <td class="filter-action-{{ action.name|lower }} object-action propel-admin-action">
                {% if action.hasFilter %}
                    {% include action.filter with { 'filter_raw': filter_raw, 'action': action } %}
                {% endif %}
            </td>
        {% endfor %}
        {% if grid.nativeActions.getByType('object')|length %}
            <td class="object-action propel-admin-native-actions" colspan="{{ grid.nativeActions.getByType('object')|length }}"></td>
        {% endif %}
    {% endif %}
</tr>
